@import "tailwindcss";

@font-face {
  font-family: "ImagerFont";
  src: url('../Imager-Stylist.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.ImagerFont{
  font-family: "ImagerFont";
}
@font-face {
  font-family: "GlobalFont";
  src: url('../Imager.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.GlobalFont{
  font-family: "GlobalFont";
}




body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #4ED7DD;
  border-radius: 5px;
  
} 


.ScrollInVisible::-webkit-scrollbar {
  width: 0;
}

.ScrollInVisible::-webkit-scrollbar-track {
  background: #D3DBDB;
  border-radius: 1px;
}

.ScrollInVisible::-webkit-scrollbar-thumb {
  background: #4ED7DD;
  border-radius: 1px;
  
} 



button{
  cursor: pointer;
}



